$custom-orange-color: #FF8900;
$golden-poppy-color: #FFEBAF;


// fount --------

$noto-kufi-arabic-font: 'Noto Kufi Arabic', sans-serif;

.card{
  background-color: $golden-poppy-color;
  border: none;
  gap: 8px;
}
.card-title{
  color: $custom-orange-color;
  font-family: $noto-kufi-arabic-font;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;

}
.card-description{
  color: $custom-orange-color;
  font-family: $noto-kufi-arabic-font;
  font-weight: 400;
  font-size: 14px;
  margin: 0;
  line-height: 20px;
}
