
<div class="container-fuled  ">
  <div class="row  m-0 p-0">
      <div class="col-8 py-5 bg-color">
         <!-- ===============[ start code ]=========================== -->
         <p class="app-title font-36 ">  تقرير مخالفة, محطة ساسكو - فرع الثمامة  </p>
         <app-status-card [title]="'في انتظار الموافقة'"></app-status-card>

         <div class="row">
          <p class="app-title  ">  تقرير الزيارة الرقابية </p>

         </div>


         <!-- ===============[ end code ]=========================== -->
      </div>

      <!-- ========================================== -->
      <div class="col-4  bg-color-2">xx</div>

  </div>
</div>
