$custom-orange-color: #FF8900;
$light-golden-poppy: #FFEBAF;

//===================[accordion box arrow]=================================================

.box-arrow {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: #EAEEF1;
  border-radius: 8px;
  cursor: pointer;
  &-yellow{
    background-color: $light-golden-poppy;

  }


}

.box-arrow::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  background-image: url('../../../../../src/assets/icons/png/arrow-down.png');
  background-repeat: no-repeat;
  background-size: cover;
  transition: transform 0.4s ease-in-out;

}
.box-arrow-yellow::before {
  filter: invert(69%) sepia(58%) saturate(5768%) hue-rotate(2deg) brightness(107%) contrast(105%);
}

.box-arrow-open::before {
  content: '';
  top: 40%;
  transform: rotate(180deg);
}


