$custom-orange-color: #FF8900;
$intense-golden: #FEAE00;
$light-yellow: #FDC600;
$light-beige: #FFFAEB;
$light-golden-poppy: #FFEBAF;
$normal-pigment-green: #26A637;
//===================[accordion header]=================================================

.accordion-header {
  color: #02618d;
  border: solid 1.5px #EAEEF1;
  border-inline-start: #02618d solid 5px;
  outline: none;
  padding: 5px;
  padding-inline-start: 8px;
  border-radius: 8px;
  transition: border-bottom-left-radius 0.7s, border-bottom-right-radius 0.7s;
  &-yellow{
    border-inline-start: $intense-golden solid 5px ;
    background-color:$light-beige ;

  }
}



.accordion-header-aria-expanded  {
  border-bottom-left-radius:0 ;
  border-bottom-right-radius:0 ;
  transition: border-bottom-left-radius 0.1s, border-bottom-right-radius 0.1s;


}
//===================[ accordion body]=================================================
.accordion-body {
  border-inline-start: #02618d solid 5px;
  border-bottom-left-radius:8px ;
  border-bottom-right-radius:8px ;
  &-yellow{
    border-inline-start: $intense-golden solid 5px ;

  }
}
//===================[ accordion item]=================================================
.accordion-item {border: none;}

//==================================[ text ]===============

.accordion-title{
    font-size: 16px;
    color: #02618D;
    font-weight: 700;
    font-family: 'Noto Kufi Arabic';
    &-yellow{
      color: $intense-golden;

    }
}

.accordion-status{
    font-size: 12px;
    color: $normal-pigment-green;
    font-weight: 700;
    font-family: 'Noto Kufi Arabic';
    margin-inline-end: 10px;
    &-yellow{
      color: $light-yellow;

    }

}









